* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.banner {
  margin-top: 2.5em;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 25%;
}

.title {
  color: black;
  position: absolute;
  font-style: italic;
  font-size: 30px;
}

.subtitle {
  color: black;
  background-color: white;
  border: 2px solid black;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 5%;
}

.main-info{
  position: absolute;
}

.menu {
  border-radius: 5px;
  position: absolute;
  bottom: 460%;
  left: 55%;
}

.menu a {
  margin-bottom: 10px;
  border: 2px solid black;
  color: white;
  background-color: #4472c4;
  text-decoration: none;
  padding: 0 0.6em;
  box-shadow: 2px 2px 1px 0px rgba(115, 115, 115, 0.75);
}

main {
  position: relative;
  left: 20%;
  padding: 2em;
  max-width: 80%;
}

#selected {
  background-color: #70ad47;
}

.main-info{
  left: 5%;
  width: 90%;
}

article{
  margin-top: 1.5em;
}

article > ol > li{
  margin-top: 1em;
}

.letters {
  list-style-type: lower-alpha;
  margin-left: 1em;
}

.no-mark{
  list-style-type: none;
  margin-top: 0;
}

#item-special {
  list-style-type: circle;
  margin-left: 1em;
}

table, tr, th, td{
  padding: .5em;
  text-align: left;
}

td, th{
  padding-left: 5em;
}

.right-side{
  text-align: right;
}

.general-info{
  display: flex;
  justify-content: space-between;
}

.schedule-title{
  font-style: italic;
}
.important{
  text-decoration: underline;
  font-style: italic;
}

.game-info{
  margin-top: 3em;
}

.questions{
  padding-top: 2em;
}
.game-info p {
  text-indent: 0;
  margin-top: .8em;
} 