* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body{
  background-color: rgb(206, 206, 206);
}

header {
  position: relative;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 25%;
}

figure{
  display: flex;
}

.title {
  color: #70ad47;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  position: absolute;
  top: 0%;
  left: 5%;
  font-size: 30px;
}

.subtitle {
  color: white;
  background-color: black;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 5%;
}

main {
  padding: 2em;
  display: flex;
}

p{
  text-indent: 1em;
}

.menu {
  padding-top: 3em;
}

.menu a {
  display: block;
  margin-bottom: 10px;
  border: 2px solid black;
  color: white;
  background-color: #4472c4;
  text-decoration: none;
  padding: .3em 0.6em;
  text-align: center;
  box-shadow: 2px 2px 1px 0px rgba(115, 115, 115, 0.75);
}

#selected {
  background-color: #70ad47;
}

.main-info{
  margin-left: 5em;
  left: 15%;
  width: 80%;
}

article{
  margin-top: 1.5em;
}

article > ol > li{
  margin-top: 1em;
}

.letters {
  list-style-type: lower-alpha;
  margin-left: 1em;
}

.no-mark{
  list-style-type: none;
  margin-top: 0;
}

#item-special {
  list-style-type: circle;
  margin-left: 1em;
}

table, tr, th, td{
  padding: .5em;
  text-align: left;
}

td, th{
  padding-left: 5em;
}

.right-side{
  text-align: right;
}

.general-info{
  display: flex;
  justify-content: space-between;
}

.schedule-title{
  font-style: italic;
}
.important{
  text-decoration: underline;
  font-style: italic;
}

.game-info{
  margin-top: 3em;
}

.questions{
  padding-top: 2em;
}
.game-info p {
  text-indent: 0;
  margin-top: .8em;
}

p a{
  font-weight: bold;
  color: #5f923e;
  text-decoration: none;
}