* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body{
  background-color: rgb(206, 206, 206);
  color:#2c421e
}

header {
  position: relative;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 25%;
}

figure{
  display: flex;
}

.title {
  color: #70ad47;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  position: absolute;
  top: 0%;
  left: 5%;
  font-size: 30px;
}

.subtitle {
  color: white;
  background-color: black;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 5%;
}

main {
  padding: 2em;
  display: flex;
}

p{
  text-indent: 1em;
}

.menu {
  padding-top: 3em;
}

.menu a {
  display: block;
  margin-bottom: 10px;
  border: 2px solid black;
  color: white;
  background-color: #4472c4;
  text-decoration: none;
  padding: .3em 0.6em;
  text-align: center;
  box-shadow: 2px 2px 1px 0px rgba(115, 115, 115, 0.75);
}

#selected {
  background-color: #70ad47;
}

.main-info{
  margin-left: 5em;
  left: 15%;
  width: 80%;
}

article{
  margin-top: 1.5em;
}

article > ol > li{
  margin-top: 1em;
}

.letters {
  list-style-type: lower-alpha;
  margin-left: 1em;
}

.no-mark{
  list-style-type: none;
  margin-top: 0;
}

#item-special {
  list-style-type: circle;
  margin-left: 1em;
}
table{
  width: 100%;
  

}

table, tr, th, td{
  text-align: left;
  /* border: 1px solid #000; */
}

td, th{
  padding-left: 2em;
}

.right-side{
  text-align: right;
  font-weight: bold;

}

.general-info{
  display: flex;
  justify-content: space-between;
}

.schedule-title{
  font-style: italic;
}
.important{
  text-decoration: underline;
  font-style: italic;
}

.game-info{
  margin-top: 3em;
}

.questions{
  padding-top: 2em;
}
.game-info p {
  text-indent: 0;
  margin-top: .8em;
}

p a{
  font-weight: bold;
  color: #5f923e;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

fieldset{
  padding: 1em;
  margin: 1em 0;
}

legend{
  font-weight: bold;
  font-size: 1.15em;
  font-style: italic;
}

.form-option{
  font-weight: normal;
}

.name-input, .other-input, .radio-options{
  display: flex;
  justify-content: space-between;
}

.form-uniform, .form-school, .form-position{
  margin: 1em 0;
  
}

.form-uniform label, .form-position label{
  display: block;
}

.radio-options{
  width: 100%;
}

.submit-button {
  background-color: #5f923e;
  padding: .8em 1.6em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

label {
  font-weight: bold;
  margin-bottom: .3em;
}

.field-styled {
  padding: .6em;
  margin-bottom: .6em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.field-street{
  width: 85%;
}

.permission-form{
  display: flex;
  flex-direction: column;
}

.permission-form span, .permission-form label{
  margin-top: .5em;
}

.form-results tr, .form-results th, .form-results td{
  text-align: center;
  padding: .3em 0;
}

.form-results{
  margin-top: 2em;
  width: 40%;
}

.registration-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width:320px) and (max-width:767px) {

  .title {
    font-size: 1.5em;
    left: 2%; 
  }

  .logo {
    width: 150px; 
    height: 150px;
    top: 20%; 
    right: 2%; 
  }

  main {
    padding: 1em; 
    display: block; 
  }
  h2{
    text-align: center;
    margin-bottom: .5em;
  }

  .name-input, .other-input, .radio-options{
    flex-wrap: wrap;
  }

  .main-info{
    margin: 0 auto;
  }

  .game-table {
    overflow-x: auto;
  }

  .game-table, .game-table td {
    display: block;
    padding: 0.2em;
  }

  .game-header{
    display: none;
  }

  iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .right-side{
    background-color: white;
  }

  .form-results td{
    padding: .5em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px){

  iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}